.cardAbout{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: all .8s cubic-bezier(.25, .4, .45 ,1.4);
}

.cardAbout:hover{
    flex: 1.5;
}


.cardImgAbout{
    height: 100%;
    width: 100%;
    filter: brightness(20%);
    border-radius: inherit;
    object-fit: cover;
}


.cardTextAbout{
    position: absolute;
    z-index: 1;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0;
    color: whitesmoke;
    max-width: 60ch;
}


